<%== link_to 'new', new_shift_path %>

<div id="calendar"></div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: <%= raw(@shifts.map{|i| {title: i.employee.name, start: i.time_from.iso8601, end: i.time_to.iso8601} }.to_json) %>,
      timeFormat: 'H:mm',
      defaultView: 'agendaWeek',
      height: 'auto'
    })
  });
</script>
